doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title CRUD-PWA

    <!-- Manifest and Meta Tags for PWA -->
    link(rel='manifest', href='manifest.json')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='application-name', content='CRUD-PWA')
    meta(name='apple-mobile-web-app-title', content='CRUD-PWA')
    meta(name='theme-color', content='#03a9f4')
    meta(name='msapplication-navbutton-color', content='#03a9f4')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='msapplication-starturl', content='linkgithub')

    <!-- Icons -->
    link(rel='icon', sizes='512x512', href='./icons/icon-512.png')
    link(rel='apple-touch-icon', sizes='512x512', href='./icons/icon-512.png')
    link(rel='icon', sizes='192x192', href='./icons/icon-192.png')
    link(rel='apple-touch-icon', sizes='192x192', href='./icons/icon-192.png')

  body
    #app
